.footer {
  padding: 24px;
  border-top: 1px solid var(--gray-300);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
