.field {
  display: flex;
}

.like__button__common {
  margin: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 12px;
  transition: all 0.2s;
}

.like__button__normal {
  border: 1px solid #999999;
}

.like__button__liked {
  background: #ee638d;
  border: 1px solid #999999;
}

.like__button:hover {
  background: #dddddd;
  border: 1px solid #666666;
}

.like__button__liked:hover {
  background: #e94677;
  border: 1px solid #666666;
}

.icon__common::before {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 8px;
  padding-left: 16px;
  content: '';
  mask: no-repeat center;
  mask-size: contain;
  -webkit-mask: no-repeat center;
  -webkit-mask-size: contain;
}

.icon__img::before {
  mask-image: url('./images/heart-fill.svg');
  -webkit-mask-image: url('./images/heart-fill.svg');
}

.icon__color__normal::before {
  background-color: #f12b2b;
}

.icon__color_liked::before {
  background-color: #ffffff;
}

.span__likes {
  vertical-align: middle;
}

.mgr__9 {
    margin-right : 9px;
}